* , body {
  font-family: serif;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  width: 100%;
  padding-bottom: 100px;
}

.container {
  max-width: 630px !important;
}

.form-control.error {
  @extend .has-error;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    border-width: 3px;
  }
}
