#intro-section {
  padding-top: 100px
}
#comment-form-section {
  border-top: 1px solid $gray;
  padding: 20px 0;
}

#comments-section {
  .comments-count-message {
    color: $gray;
  }
  .comments-count {
    color: $gray-lightest;
  }
}