body {
  background-image: image-url('bg-intro.png');
  background-repeat: no-repeat;
  background-position: center top;
  @media (max-width: $screen-xs-max) {
    background-size: contain;
  }
}
#intro-section {
  padding-top: 300px;
  @media (max-width: $screen-xs-max) {
    padding-top: 200px;
  }

  dl {
    margin-top: 30px;
    dt, a {
      font-size: $font-size-small;
    }
    a {
      color: $gray;
      text-decoration: underline;
    }
  }

  .intro-message {
  }
}
#comment-form-section {
  border-top: 1px solid $gray;
  padding: 20px 0;
}

#comments-section {

  .comments-count-message {
    color: $gray;
    padding: 10px 0;
  }
  .comments-count {
    color: $gray-lightest;
  }
  .comments-list {
    border-top: 2px solid $gray-lightest;
    margin-bottom: 90px;
    .comment {
      border-bottom: 1px solid $gray;
      padding: 10px 0;
      .media-body p {
        margin: 5px 0;
      }
      .media-right {
        font-size: $font-size-small;
        white-space: nowrap;
        vertical-align: middle;
      }
    }
  }
}
